.features {
  width: 100%;
}

.text {
/* text */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;
text-align: center;
position: absolute;
width: 324px;
height: 144px;
left: 230px;
top: 285px;
z-index: 1;
}
.text .t1 {
  /* Introducing Abstract App landing page */
width: 324px;
height: 67px;
font-family: 'Encode Sans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 150%;
flex: none;
order: 0;
flex-grow: 0;
}
.text .t2 {
  color: rgba(255, 255, 255, 0.801);
}

.mainIllustration {
  /* main illustration */
position: absolute;
width: 288px;
height: 498px;
top: 177px;
right: 15%;
filter: drop-shadow(-16px 20px 5px rgba(0, 0, 0, 0.15));

}

.img {
  position: absolute;
  height: 529px;
  left: 0px;
  right: 291px;
  top: -2px;
  background: url('img/lines.png') no-repeat;
}