* {
  margin: 0;
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--color-black);
}

h1 {
font-family: 'Encode Sans';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 120%;
text-align: center;
}
h2 {
/* H2 */
font-family: 'Encode Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 180%;
text-align: center;
}

h3 {
/* H3 */
font-family: 'Encode Sans';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 150%;
text-align: center;
}

.t5 {
  color: #3D2E87;
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
}

.t4 {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 150%;
  color: #3D2E87;
}

.t3-accent {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 500;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 180%;
}
.t2 {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 100;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 150%;
  color: rgba(255, 255, 255, 0.822);
}
.t1 {
/* t1 */
font-family: 'Encode Sans';
font-style: normal;
font-weight: 500;
font-size: clamp(12px, 2vw, 20px);
line-height: 150%;
}
:root {
  --color-violet-main: #3D2E87;
  --color-white: white;
  --color-violet-secondary: #843FD0;
}

a {
  color: var(--color-black);
  text-decoration: none;
  width: auto;
  height: auto;
}

a:hover {
  text-decoration: underline;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes toLeft {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}